.theadlistlobby{
  background-color: #f2f2f2;
}
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 25px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.btnCreate{
  position: fixed;
  right: 1%;
  top: 95%;
}
tr:hover{
  background-color: rgba(0, 137, 145, 1);
}
tr:active{
  background-color: rgba(0, 137, 145, 1);

}
