.PlayerList{
    list-style-type: none;
    border: 2px solid blue;
     border-radius: 5px;
     margin: 5px;
     padding: 10px;

}
.raceInfoList{
  list-style-type: none;
  position: fixed;
  top: 55%;
  right: 25%;
text-align: left;

}
.Squarearound{
  position: fixed;
  top: 20%;
  width: 10%;
}
.leavelobby{
  position: fixed;
  top: 90%;
  right: 5%;
}

.MapThumbnail{
  position: fixed;
  top: 35%;
  right: 20%;

}
