<!DOCTYPE html>
<html lang="en">
  <!-- Ui Created by Daranix -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/lobby.css">

</head>

<body>

  <!-- Modal lobby main-->

  <div class="modal fade lobbyModal" id="lobbyMain" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lobbyModal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lobbyMainModal">Select a lobby to join ... </h5>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-lobbys">
            <thead>
              <tr>
                <th>Race</th>
                <th>Host</th>
                <th>Players</th>
              </tr>
            </thead>
            <tbody id="lobbyList">

              <tr v-for="lobby in lobbies" v-on:click="selectRace(lobby.raceid, $event)">
                <td><img :src="generateThumbUrl(lobby.raceid)" width="100%">
                  <div class="lobbyJoinedRaceName">{{ lobby.mapname }}</div>
                </td>
                <td>{{ lobby.hostName }}</td>
                <td>{{ lobby.players }}/{{ lobby.maxPlayers }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">&#8853; Create lobby</button>
          <button type="button" id="btnJoin" class="btn btn-danger" onclick="joinLobby()" disabled>&#8628; Join</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal lobby joined -->
  <div class="modal fade lobbyModal" id="lobbyJoined" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content lobbyModal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="lobbyMainModal">Waiting for the host to start</h5>
        </div>

        <div class="modal-body" id="ctrlJoined">
          <div class="row">
            <div class="col-md-6 nomargin">
              <h5 style="margin:0px; padding-left: 10px;">Player list</h5>
              <ul class="lobbyPList movableBody">
                <!-- TODO could be a good idea load the steam image at the left side of the player's name-->
                <!--
                <li><span>Daranix</span><span>X</span></li>
                -->

                <li v-for="player in playerList">
                  <span>{{ player.name }}</span>

                  <span v-show="imhost && !player.isyou" v-on:click="lobbyKick(player.networkId)"><button type="button" class="close" style="color: white !important" aria-label="Close">
                      <span aria-hidden="true">🚫</span>
                  </button>
                  </span>
                </li>
              </ul>
            </div>

            <div class="col-md-6 redborder nomargin">
              <h5 style="margin:0px; padding-left: 10px;">Race details</h5>
              <br>
              <img :src="generateThumbUrl(map.raceid)" width="100%">
              <div class="lobbyJoinedRaceName">{{ map.name }}</div>

              <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
                <button v-show="imhost" type="button" class="btn btn-danger" v-on:click="chooseRace()">🔃 Choose race</button>
              </div>

              <ul class="raceInfoList">
                <li><span class="info">Max players:</span> {{ map.maxPlayers }}</li>
                <li><span class="info">Type:</span> {{ map.type }}</li>
                <li v-show="map.type === 'circuit'"><span class="info">Laps:</span> {{ map.laps }}</li>
              </ul>

              <div style="text-align: center;" v-show="imhost">
                <button type="button" class="btn btn-danger" v-on:click="startGame()">🏁 Start</button>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="leaveLobby()">&#10096; Back</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Choose race modal for the host -->

  <div class="modal fade lobbyModal" style="background-color: transparent;" id="chooseRace" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content lobbyModal-content" style="background-color: rgb(0,0,0)">
        <div class="modal-header">
          <h5 class="modal-title" id="lobbyMainModal">Select the track ... </h5>
        </div>
        <div class="modal-body">

          <div class="input-group norounded-inputgroup" style="border-radius: 0px !important">
            <input v-model="searchTrack" type="text" class="form-control" placeholder="Search for track by name" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">&#128270;</span>
          </div>

          <p v-show="!raceList.length" style="text-align: center;">
            Doesn't not exist a track with that name
          </p>

          <table class="tableChoose">
            <tr v-for="raceGroup in raceList">
              <td v-for="race in raceGroup" v-on:click="selectTrack(race.raceid, $event)">
                <img :src="generateThumbUrl(race.raceid)" width="100%" />
                <div class="lobbyJoinedRaceName">{{ race.name }}</div>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">

          <button v-show="!selectedTrack" type="button" class="btn btn-danger" disabled>Ok</button>
          <button v-show="selectedTrack" type="button" class="btn btn-danger">Ok</button>
          <button type="button" id="btnJoin" class="btn btn-danger" data-dismiss="modal">&#10096; Back</button>
        </div>
      </div>
    </div>
  </div>



  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/popper.js"></script>
  <script src="./js/bootstrap.min.js"></script>

  <script src="./js/global.js"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/lobbyMain_dynamic.js"></script>
  <script src="./js/lobbyJoined_dynamic.js"></script>
  <script src="./js/ctrlChooseRace.js"></script>


  <!-- Show the modal when load -->
  <script>
    $(document).ready(function () {

      $("#lobbyMain").modal({
        backdrop: 'static',
        keyboard: false
      });

    })
  </script>

</body>

</html>
